<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:fragment="header">
    <table class="table_header">
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/order">Orders</a></td>
            <td><a href="/workplace">Workplace</a></td>
            <td><a href="/cutter">Cutter</a></td>
            <td><a href="/baguette">Baguette</a></td>
            <td>                        </td>
            <td th:inline="text">[[${#httpServletRequest.remoteUser}]]</td>
            <td>
                <div th:if="${#httpServletRequest.remoteUser}">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>

        </tr>
    </table>
    <br><br>
</div>
</body>
</html>